#container{
      background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
      min-height: 100vh;
      margin-bottom: -75px;
    }
    #container: after{
      content: "";
      display: block;
      height: 75px;
    }
    .border-container{
      box-sizing: border-box;
      background-color: black;
      margin: 50px;
      border-radius: 0 0 50px 50px;
      border: solid 5px #93b2c5;
      background-image: linear-gradient(to top, #005aa7, #fffde4);
    }
    div{
      text-align: center;
    }
    
      img{
        width: 250px;
      border-radius:50%;
      padding-top: 20px;
    }
    figcaption{
      font-size: 30px;
      text-align: center;
      margin-bottom: 30px;
    }
    footer{
      text-align: center;
      line-height: 90px;
      padding-top: 20px;

    }
    button{
      font-size: 15px;
      border-radius: 20px;
      height: 50px;
      margin-bottom: 5px;
      background-color: #fffde4;
    }
    button a{
      text-decoration: none;
      color: black;
      font-size: 15px ;
    }
    i{
      width: 20px;
      color: navy;
    }
    @media screen and (min-width:250px){
      button{
        width: 100px;
      }
  }
    @media screen and (min-width: 480px){
      button{
        width: 200px;
      }
  }
    @media screen and (min-width: 750px){
      button{
      width: 500px;
      }
    }
